<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pierre's Bakery</title>
</head>
<body>
  @using Bakery.Models;

  <h1>@Model.Name</h1>
  <ul>
    @foreach (Order order in Model.Orders)
    {
      <li>@order.Item</li>
      <li>@order.Quantity</li>
      <li>@order.Date.ToShortDateString()</li>
    }
  <a href = "">Add new orders</a>
  </ul>
</body>
</html>