<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pierre's Bakery</title>
</head>
<body>
  <form action="/vendors/@Model.Id/orders" method="post">
      <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
      <label for="item">Add order item</label>
      <input id="item" name="item" type="text">
        <label for="quantity">Add quantity</label>
      <input id="quantity" name="quantity" type="number">
        <label for="date">Add order date</label>
      <input id="date" name="date" type="date">
      <button type="submit">Submit</button>
    </form>
</body>
</html>